html {
  background-color: #2c3e50e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='281' height='281' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%238C8E91'%3E%3Ccircle cx='769' cy='229' r='14'/%3E%3Ccircle cx='539' cy='269' r='14'/%3E%3Ccircle cx='603' cy='493' r='14'/%3E%3Ccircle cx='731' cy='737' r='14'/%3E%3Ccircle cx='520' cy='660' r='14'/%3E%3Ccircle cx='309' cy='538' r='14'/%3E%3Ccircle cx='295' cy='764' r='14'/%3E%3Ccircle cx='40' cy='599' r='14'/%3E%3Ccircle cx='102' cy='382' r='14'/%3E%3Ccircle cx='127' cy='80' r='14'/%3E%3Ccircle cx='370' cy='105' r='14'/%3E%3Ccircle cx='578' cy='42' r='14'/%3E%3Ccircle cx='237' cy='261' r='14'/%3E%3Ccircle cx='390' cy='382' r='14'/%3E%3C/g%3E%3C/svg%3E");
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 20px auto;
  border: solid #2c3e50 5px;
  border-radius: 15px;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

.contact {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}

.contact img {
  border: solid #2c3e50 2px;
  padding: 2px;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

.photo {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: solid #2c3e50;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  background: -webkit-radial-gradient(center, white 73px, #2c3e50 75px);
}
.photo img {
  width: 100%;
  margin-top: -30px;
  margin-left: -7px;
  height: auto;
}

header {
  padding: 0px 25px;
  padding-bottom: 20px;
  border-bottom: solid #2c3e50 5px;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin-top: 0px;
  background-color: #2c3e50;
  color: white;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 10px;
}

h3 {
  margin: 0px;
}

label {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  color: #2c3e50;
  display: flex;
  white-space: nowrap;
  font-weight: 700;
  gap: 5px;
}

.labels {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.education {
  margin-top: 25px;
}

.body {
  display: flex;
  flex-direction: row;
}

.left {
  background-color: #2c3e50;
  color: white;
  flex-grow: 1.1;
  flex-basis: 0;
  padding: 15px 25px;
}

.degree {
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.degree:not(:last-of-type) {
  border-bottom: solid #8c8e91 2px;
}

.degree .year {
  color: #8c8e91;
}

.degree .option {
  padding-left: 10px;
  font-size: 0.9rem;
}

.language {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  flex-grow: 2;
  flex-basis: 0;
  padding: 15px 25px;
}

.job:not(:last-of-type) {
  border-bottom: solid #2c3e50 2px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.job .year {
  color: #8c8e91;
}

@media only screen and (max-width: 600px) {
  .body {
    flex-direction: column;
  }

  header {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .photo {
    margin: auto;
  }
}
